.navbar{
    display: flex;
    flex-direction:row;
    background-color: black;
    color: red;
    position:sticky;
}
h1{
    margin-left: 15px;
    word-spacing:7px;
}

h3{
    margin-left:40px;
    margin-top: 30px;
    
}
.header{
    margin-left: 450px;
    display: flex;
}

.active {
    color:red;
    text-decoration: none;
}

.change {
    color:white;
    text-decoration: none;
    
}
